# Generated / ignored files
node_modules
dist
build
logs
localOnly/
package-lock.json
manifest.json
openapi.json
.continue
.vscode
.state
.backups
.eslintcache
.DS_Store
.yarn
.env

# FS
/data/*
!/data/.gitkeep

# Prisma
generated/prisma
platform/prisma/schema.prisma

# Ignore all plugins by default
/plugins/*
!/plugins/.gitkeep
# .. and whitelist plugins to be shipped with the core
!/plugins/users/
!/plugins/settings/
