dist/
data/
prisma/data/*
prisma/migrations/*
prisma/reset.sh
prisma/schema.prisma
# Ignore Handlebars templates that use conditional attrs
platform/src/views/_partials/layout/head.html
platform/src/views/_partials/sidebar.html
platform/src/views/register.html
plugins/**
tools/plugin-templates/
