dist/
data/
prisma/data/*
prisma/migrations/*
prisma/reset.sh
prisma/schema.prisma
# Ignore Handlebars templates that use conditional attrs
platform/src/views/_partials/layout/head.html
platform/src/views/register.html
plugins/blog/views/blog/editor.html
plugins/papertrail/*
tools/plugin-templates/spa/vite.config.js
tools/plugin-templates/spa/plugin.json
tools/plugin-templates/custom/plugin.json
