<!doctype html>
<html lang="{{head.lang.short}}">
  <head>
    {{> layout/head}}
    <!-- TODO: Remove this once overrides from Middleware level -->
    <meta name="robots" content="noindex" />
    <style></style>
  </head>
  <body class="sv-page sv-page--error">
    <main class="sv-page__wrap sv-page--center sv-center" role="main">
      <section class="flex col align-items-center gap-s" role="alert" aria-live="assertive">
        <h1 class="sv-h-1">{{code}}</h1>
        <h2 class="sv-h-2">{{message}}</h2>
        <p id="error-desc">{{description}}</p>

        {{#if (and error (neq nodeEnv "production"))}}
        <pre class="error__stack" aria-describedby="error-desc">{{error}}</pre>
        {{/if}}

        <nav class="error__actions">
          <a class="button button--text" href="/">Return to home</a>
        </nav>
      </section>
    </main>
  </body>
</html>
