*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: var(--sv-font-family);
  color: var(--sv-color-text-primary);
  background-color: var(--sv-color-surface-sunken);
}
